*.class
*.classpath
*.project
*/.settings/*
*/target/*
*/bin/*
*/WebContent/*

.idea/*
*.jar
*.war
*.ear
*.iml
./target/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

mpush-test/src/test/resources/config.properties

build.sh

*.prefs

conf/conf-dev.properties

*.properties

mpush-test/src/test/java/com/mpush/test/connection/client/Main.java

mpush-test/src/test/java/com/mpush/test/connection/mpns/Main.java

mpush-test/src/test/java/com/mpush/test/push/Main.java

*.properties

conf/conf-dev.properties
