*.class
*.classpath
*.project
*/.settings/
*/target/
*/bin/
*/WebContent/
*/.DS_Store

.idea/

target/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
mpush-test/src/test/resources/application.conf
