<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<!-- 日志 -->
	<appender name="MPUSH_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.home}/mpush.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>warn</level>
		</filter>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.home}/mpush.log.%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- monitor log -->
	<appender name="MONITOR_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--日志文件名称 -->
		<file>${log.home}/mpush-monitor.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>
		</filter>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.home}/mpush-monitor.log.%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

    <logger name="com.shinemo.mpush.monitor.service" additivity="false">
        <level value="info"/>
        <appender-ref ref="MONITOR_APPENDER"/>
    </logger>
    
    <!-- connection log -->
	<appender name="CONNECTION_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--日志文件名称 -->
		<file>${log.home}/mpush-connection.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>
		</filter>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.home}/mpush-connection.log.%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

    <logger name="connectionLog" additivity="false">
        <level value="info"/>
        <appender-ref ref="CONNECTION_APPENDER"/>
    </logger>
    
    <!-- push log -->
	<appender name="PUSH_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--日志文件名称 -->
		<file>${log.home}/mpush-push.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>
		</filter>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.home}/mpush-push.log.%d{yyyy-MM-dd}
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} - [%thread] %-5level - %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

    <logger name="pushLog" additivity="false">
        <level value="info"/>
        <appender-ref ref="PUSH_APPENDER"/>
    </logger>

	<root>
		<level value="${loglevel}" />
		<appender-ref ref="MPUSH_APPENDER" />
	</root>
</configuration>
